<!DOCTYPE html>
<html>
<head>
    <title>Contact List</title>
</head>
<body>
    <h1>Contact List</h1>
    <a href="{% url 'contact_create' %}">Add New Contact</a>
    <ul>
        {% for contact in contacts %}
            <li>
                {{ contact.name }} - {{ contact.address }} - {{ contact.contact }}
                <a href="{% url 'contact_update' contact.id %}">Edit</a>
                <a href="{% url 'contact_delete' contact.id %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
